.diagram {
  display: flex;
  flex-direction: column;

  @include media(tabl) {
    gap: 20px;
  }

  &__work-time {
    padding-block: 25px;
    line-height: 16px;

    @include media(tabl) {
      padding-block: 0;
    }
  }

  &__open-time {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media(tabl) {
      flex-direction: row;
      gap: 20px;
    }
  }

  &__list {
    width: 100%;

    @include media(desc) {
      width: 90%;
    }
  }

  &__item {
    list-style: none;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    display: inline-block;
  }

  &__bold {
    font-weight: bold;
  }

  &__bottom-text {
    font-size: 14px;
    line-height: 21px;
  }

  &--white {
    color: #fff;
  }
}
