.lection {
  position: relative;
  background-image: url(../images/BG/lection-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 210px;
  margin-bottom: 180px;

  @include media(tabl) {
    height: 390px;
    margin-bottom: 200px;
  }

  @include media(desc) {
    height: 550px;
    margin-bottom: 300px;
  }

  &__presentation {
    position: absolute;
    min-width: 280px;
    background-color: #fff;
    padding: 20px 0;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);

    @include media(tabl) {
      padding: 45px 145px 50px 55px;
      bottom: -85px;
      min-width: 570px;
    }

    @include media(desc) {
      bottom: -100px;
      padding-inline: 100px;
    }
  }

  &__info {
    padding-inline: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(tabl) {
      padding-inline: 0;
    }
  }

  &__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #687480;

    @include media(tabl) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__dates {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1a5a4c;

    @include media(tabl) {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

    @include media(tabl) {
      text-align: start;
      font-size: 36px;
      line-height: 36px;
      max-width: 370px;
    }
  }
}
