.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #0f0e08;
  text-align: center;
  margin-bottom: 40px;

  &--contact {
    color: #fff;
  }

  @include media(tabl) {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: left;
    margin-bottom: 48px;
  }

  @include media(desc) {
    margin-bottom: 56px;
  }
}
