@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/Ibm/ibm-plex-sans-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/Ibm/ibm-plex-sans-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/Ibm/ibm-plex-sans-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/Ibm/ibm-plex-sans-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/montserrat-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/montserrat-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/roboto-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/roboto-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
